## I. List

### Basic

In [28]:
## example 
list1 = [1,2,3,4] 
list2 = ['cat','dog','bird','tiger'] 
list3 = [1,2.3,123.45,"hello"]

In [31]:
## Individual value  
print('list1[0]: ',list1[0])
print('list2[1]: ',list2[1])
print('list3[3]: ',list3[3])

list1[0]:  1
list2[1]:  dog
list3[3]:  hello

In [32]:
### Some error 
print(list1[100])   ## --> out range
print(list1[1.0])   ## --> index must int

IndexError: list index out of range

In [35]:
## Negative index 
print('list1[-1] = ',list1[-1])
print('list2[-2] = ',list2[-2])
print('list3[-3] = ',list3[-3])

list1[-1] =  4
list2[-2] =  bird
list3[-3] =  2.3

In [36]:
## Sublist 
list_number = [1,2,3,4,5,6,7,8]
sub1 = list_number[1:3]
sub2 = list_number[:6]
sub3 = list_number[2:]
sub4 = list_number[:]

In [37]:
print(sub1)
print(sub2)
print(sub3)
print(sub4)

[2, 3]
[1, 2, 3, 4, 5, 6]
[3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
## Len of list 
print('Len : ',len(list_number))

Len :  8

In [39]:
##  Can be change value in List
print(list_number)
list_number[4] = 10000
print(list_number)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 10000, 6, 7, 8]

In [41]:
## Concatenation 
print([1,2,3,4] + ['Dog','Cat'])

[1, 2, 3, 4, 'Dog', 'Cat']

In [42]:
## Replication 
print(["Hello"] * 5)

['Hello', 'Hello', 'Hello', 'Hello', 'Hello']

In [43]:
# Remove Value from list 
print(list_number)
del list_number[4]
print(list_number)

[1, 2, 3, 4, 10000, 6, 7, 8]
[1, 2, 3, 4, 6, 7, 8]

### Wokring with List

In [44]:
## Using for loop with list 
for i in list_number:
    print(i)

1
2
3
4
6
7
8

In [45]:
name_list = ['John','David','Taylor']
for i in name_list:
    print(i)

John
David
Taylor

In [47]:
for i in range(len(name_list)):
    print(f'Name index {i} is: {name_list[i]}')

Name index 0 is: John
Name index 1 is: David
Name index 2 is: Taylor

In [49]:
### IN & NOT IN 
print(name_list)
print('John in list ? : ','John' in name_list)
print('Justin in list ? : ','Justin' in name_list)

['John', 'David', 'Taylor']
John in list ? :  True
Justin in list ? :  False

### Method with list

In [50]:
## index()
print(name_list)
name_list.index('John')

['John', 'David', 'Taylor']

0

In [51]:
## append()
name_list.append('Sam')
print(name_list)

['John', 'David', 'Taylor', 'Sam']

In [53]:
## insert()
name_list.insert(2,'Kelvin')
name_list

['John', 'David', 'Kelvin', 'Taylor', 'Sam']

In [54]:
## remove()
name_list.remove('Sam')
name_list

['John', 'David', 'Kelvin', 'Taylor']

In [57]:
## sort()
number = [312,321,453,213.43,654,243,453,123.56]
number.sort()
print(number)
animal =['Dog','Cat','Tiger','Elephant','Bird']
animal.sort(reverse=False)   ## Có thể chuyển reverse = True để đảo ngược chuỗi
print(animal)  ## -> Alphabet

[123.56, 213.43, 243, 312, 321, 453, 453, 654]
['Bird', 'Cat', 'Dog', 'Elephant', 'Tiger']

In [58]:
## vừa có int và str thì ko thể sort()  ->> Error
list1 = [1,2,3,4,'name']
list1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

### String

In [62]:
name = 'Lionel Messi'
print(': ',name[0])
print(': ',name[-1])
print(': ',name[0:6])

:  L
:  i
:  Lionel

In [63]:
for i in name:
    print(i,"-")

L -
i -
o -
n -
e -
l -
  -
M -
e -
s -
s -
i -

In [67]:
## Tuy nhiên string và list khác nhau ở điểm có thể thay đổi hay ko 
## Với list có thể thêm , sửa , xóa .... 
## với String thì ko

In [68]:
name[7] = 't'     # -> Error
name[3] = 'the'   # -> Error

TypeError: 'str' object does not support item assignment

In [73]:
## có thể thay đổi string bằng cách cắt ghép 
title = name + ' & his wife'
print(title)

Lionel Messi & his wife

In [77]:
title[13]

'&'

In [80]:
## muốn thay thể & -> and 
title_ = title[:13] + 'and ' + title[15:]
title_

'Lionel Messi and his wife'

### Tuple

<pre>
Giống với List trư:
* sử dụng ngoặc tròn ()
* không thể thay đổi immutable
</pre>

In [82]:
info = ('David',23,'London',1234567)
print("Name: ",info[0])
print("Phone: ",info[-1])

Name:  David
Phone:  1234567

In [84]:
## not be change 
info[0] = "Kelvin"  # -> Error

TypeError: 'tuple' object does not support item assignment

In [85]:
## Lưu ý : Nếu bạn chỉ có 1 giá trị trong tuple thì phải đặt thêm dấu ","

print(type(('Hello')))  # -> ko có dấu "," sẽ hiểu là string
print(type(('Hello',))) # -> có dấu "," hiểu là tuple

<class 'str'>
<class 'tuple'>

In [86]:
## tuple <--> list 
print(type(tuple(["dog","cat",1,5.6])))
print(type(list(("dog","cat",1,5.6))))

<class 'tuple'>
<class 'list'>

### Reference

In [87]:
spam = 42
cheese = spam
spam = 100 
print("spam: ",spam)
print("chese: ",cheese)

spam:  100
chese:  42

In [88]:
spam = ['Hello']
cheese = spam
spam[0] = ['Hi']  
print("spam: ",spam)
print("chese: ",cheese)

spam:  [['Hi']]
chese:  [['Hi']]

In [90]:
## WHY ????? 
## Hiểu đơn giản 
## với biến thì khi gán thì chỉ là gán giá trị của nó 
## với list thì khi gán là gán cả địa chỉ  của nó hay hai biến spam và cheese đã là 1

In [91]:
## Điều này có thể gây ra một số khó khăn 
## sử dụng copy()

list1 = ["Hello"]
list2 = list1.copy()
list1 = ["Hi"]
print(list1)
print(list2)

['Hi']
['Hello']

-------------------------------------------------------------------------------------------------------

## Some trick with List,String,Tuple

1. Unpacking a Sequence into Separate Variables

    Giải nén một chuỗi thành các biến riêng biệt

In [2]:
p = (4,5)
x,y = p

In [4]:
print('x = ',x)
print('y = ',y)

x =  4
y =  5

In [5]:
data = ['Hanoi','NinhBinh','DaNang',(100,200,300)]
city1,city2,city3,number = data

In [6]:
print('city1: ',city1)
print('city2: ',city2)
print('city3: ',city3)
print('number: ',number)

city1:  Hanoi
city2:  NinhBinh
city3:  DaNang
number:  (100, 200, 300)

In [7]:
## Error -->>
city1,city2,city3,number1,number2,number3 = data

ValueError: not enough values to unpack (expected 6, got 4)

In [8]:
city1,city2,city3,(number1,number2,number3) = data

In [9]:
print('number1: ',number1)
print('number2: ',number2)
print('number3: ',number3)

number1:  100
number2:  200
number3:  300

In [10]:
### Không chỉ với tuple hay list mà còn có thể sử dụng với các loại dữ liệu khác 
s = 'Hello'
s1,s2,s3,s4,s5 = s

In [11]:
print(s1,'-',s2,'-',s3,'-',s4,'-',s5)

H - e - l - l - o

In [12]:
### Nếu chỉ quan tâm đến một số phần tử thì có thể đặt các phần tử còn lại là _ 
city1,city2,city3,_ = data

2.  Unpacking Elements from Iterables of Arbitrary Length
 
    Giải nén các phần tử từ Iterables có độ dài tùy ý

<pre>
<b>Problem</b> : Giả sử có một tuple hay list dài tùy ý(chưa biết trước độ dài) mà muốn
          lấy thành phần đầu và thành phần cuối thì làm thế nào ???
</pre>

In [14]:
def first_last(sequence):
    first,*middle,last = sequence 
    return first,last

In [16]:
data = ["Name","Age","Address","Hobbit","Salary"]
name,salary = first_last(data)
print(" ",name,'\n',salary)

  Name
 Salary

In [19]:
## tương tự nếu muốn loai bỏ phần từ đầu hay cuối

In [20]:
## biến *.... luôn là list bất kể số lượng là bao nhiêu 
number1,*middle,number2 = [1,3]

In [23]:
print(middle) 
print(type(middle))

[]
<class 'list'>

In [24]:
### Môt ứng dung khác dùng để giải nén các lần lăp có độ dài khác nhau 

name_number = [
    ('John',1234,3124,12312),
    ('David',7126,37216),
    ('Taylor',87312,42386,34678,3687,37685,6875)
]
for name,*number in name_number:
    print(name,': ',number)

John :  [1234, 3124, 12312]
David :  [7126, 37216]
Taylor :  [87312, 42386, 34678, 3687, 37685, 6875]

In [25]:
### Một số trường hợp khác ...
info = ['John',23,123.45,(312,543,634,234)]
name,*_,(*_,number) = info 
print('name: ',name)
print('number: ',number)

name:  John
number:  234

In [27]:
dirr = 'C:/ACER/User/Image/cat.png'
disk,*_,name_file = dirr.split('/')
print('disk: ',disk)
print('name_file: ',name_file)

disk:  C:
name_file:  cat.png